body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #c30101; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

h1, h2 {
    margin-bottom: 15px;
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #972604; 
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: #980202; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3; 
}


li {
    font-weight: bold;
}

@media (max-width: 600px) {
    body {
        padding: 0 10px;
    }
    section {
        padding: 15px;
    }
}